<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style_base.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Coffe Time</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <h2>Logo</h2>
            <ul class="list">
                <li class="list-items">Item 1</li>
                <li class="list-items">Item 2</li>
                <li class="list-items">Item 3</li>
                <li class="list-drop">Item 4 <span class="material-icons">arrow_drop_down_circle</span>
                    <ul class="dropdown">
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                        <li>D</li>
                    </ul>
                </li>
                <li class="list-items">Item 5 <span class="material-icons">arrow_drop_down</span>
                    <ul>
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                        <li>D</li>
                        <li>E</li>
                        <li>F</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>

  